{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    <title>{{ name }} - Portfolio</title>
    {% endblock meta %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="site-header">
        <div class="header-container">

            <div class="identity">
                <a href="{% url 'main:show_main' %}" class="brand">
                    {{ name2 }}
                </a>

                <img src="{% static 'img/00ec0c2cc8616b43986c5f8371b0adea.gif' %}"
                     alt="Zoya animation"
                     class="profile-gif">
            </div>

            <nav class="side-nav">

                <a href="{% url 'main:show_main' %}"
                   class="{% if request.resolver_match.url_name == 'show_main' %}active{% endif %}">
                    Profile
                </a>

                <a href="{% url 'main:show_experience' %}"
                   class="{% if request.resolver_match.url_name == 'show_experience' %}active{% endif %}">
                    Experience
                </a>

                <a href="{% url 'main:show_projects' %}"
                   class="{% if request.resolver_match.url_name == 'show_projects' %}active{% endif %}">
                    Projects
                </a>

                <a href="{% url 'main:show_education' %}"
                class="{% if request.resolver_match.url_name == 'show_education' %}active{% endif %}">
                    Education
                </a>

            </nav>

        </div>
    </header>


    <main>
        {% block content %}
        {% endblock content %}
    </main>


    <footer class="site-footer">
        <div class="container">
            <p>
                © 2026 {{ name2 }}. Fakultas Ilmu Komputer, Universitas Indonesia.
            </p>
        </div>
    </footer>

</body>
</html>