{% extends "base.html" %}
{% block meta %}
    <title>Add Project - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="experience-section">
            <div class="container">
                <div class="project-form-container">
                <h1>Add New Projects</h1>
                <form method="post"
                      action="{% url 'main:create_project' %}"
                      class="project-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button">Tambah Project</button>
                    <a href="{% url 'main:show_projects' %}" class="button button-secondary">Batal</a>
                </form>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}